* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.hero {
  position: relative;
  background: url(./mzae-2.jpg) no-repeat center/cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.text-flex {
  position: relative;
  min-height: 100vh;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.text-flex h1 {
  font-family: "Lavishly Yours";
  font-size: 7rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .hero {
    background: url(./mzae-mobile.jpg) no-repeat center/cover;
  }

  .hero::before {
    background: rgba(0, 0, 0, 0.27);
  }

  .text-flex h1 {
    font-size: 5rem;
  }
}
