* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.hero {
  position: relative;
  background: url(./mzae-2.jpg) no-repeat center/cover;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at center,
      transparent 35%,
      rgba(0, 0, 0, 0.615) 60%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.12) 40%,
      rgba(0, 0, 0, 0.35) 10%,
      rgba(0, 0, 0, 0.65) 100%,
      rgba(0, 0, 0, 0.82) 100%
    );
}

.text-flex {
  border: 0.5px solid #f7d58a;
  padding: 0.5rem;
  position: relative;
  min-height: 100vh;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.text-flex h1 {
  font-family: "Lavishly Yours";
  font-size: 7rem;
  color: #f7d58a;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  margin-top: 12rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .hero {
    background: url(./mzae-mobile.jpg) no-repeat center/cover;
  }

  .text-flex {
    margin: 0 1rem;
  }

  .hero::before {
    /* background: rgba(0, 0, 0, 0.27); */
  }

  .text-flex h1 {
    font-size: 5rem;
  }
}
